<header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light">
        <div class="container">
            <a class="navbar-brand mr-lg-5" href="">
                <img src="/img/ill/ill-2.svg" style="height:70px"><h4 style="color: #ffffff; font-size: 30px;">Xclusive</h4>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global"
                    aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="">
                                <img src="/img/brand/blue.png">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse"
                                    data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>

                <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                    <li class="nav-item d-none d-lg-block ml-lg-4">
                        <a href="" target=""
                           class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon">
                  <i class="fa fa-envelope mr-2"></i>
                </span>
                            <span class="nav-link-inner--text" style="font-family: 'Google Sans', sans-serif">Contact Support</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
        <div class="shape shape-style-1 shape-primary shape-skew alpha-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-it">
                            <div class="text-left" style="color: #fff;">
                                <h2 style="color: #ffffff;"> Exinvest Xclusive</h2>
                                <div class="h4 font-weight-300" style="color: #ffffff; text-align: left">
                                    A simple tool to help you get the real status of
                                    a transaction.
                                </div>
                                <!--<div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer</div>-->
                            </div>

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card card-profile shadow">
                        <div class="px-4">
                            <div class="text-center mt-5">
                                <h2>Transaction Status Confrirmation</h2>
                                <div class="h6 font-weight-300" style="margin-left: 20px; margin-right: 20px;"><i
                                        class="ni location_pin mr-2"></i>Kindly enter the Flutterwave and transaction
                                    references to requery this transaction.
                                </div>
                            </div>
                            <div class="mt-5 py-5 border-top text-center">
                                <div class="row justify-content-center">
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="input-group mb-4">
                                                <input class="form-control" placeholder="Flutterwave Reference" type="text">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i
                                                            class="ni ni-zoom-split-in"></i></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group mb-4">
                                                    <input class="form-control" placeholder="Transaction Reference" type="text">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"><i
                                                                class="ni ni-zoom-split-in"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-outline-primary">Re-Query</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer">
    <div class="container">
        <div class="row row-grid align-items-center mb-5" style="margin-bottom: 1rem !important;">
            <div class="col-lg-6">
                <h3 class="text-primary font-weight-light mb-2">It's awesome, isn't it?</h3>
                <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
            </div>

            <div class="col-lg-6 text-lg-right btn-wrapper">
                <a target="_blank" href="https://twitter.com/michaelstwt93"
                   class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" data-toggle="tooltip"
                   data-original-title="Follow us">
                    <i class="fa fa-twitter"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com/michaelonyeforo"
                   class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" data-toggle="tooltip"
                   data-original-title="Like us">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <a target="_blank" href="https://github.com/michaelO93"
                   class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" data-toggle="tooltip"
                   data-original-title="Star on Github">
                    <i class="fa fa-github"></i>
                </a>
            </div>
        </div>
        <!--<hr>-->
        <!--<div class="row align-items-center justify-content-md-between">-->
        <!--<div class="text-lg-center">-->
        <!--<div class="copyright">-->
        <!--&copy; 2018-->
        <!--<a href="https://github.com/michaelO93" target="_blank">M.O</a> |-->
        <!--Credit:  <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;<div class="col-md-6">&ndash;&gt;-->
        <!--&lt;!&ndash;<ul class="nav nav-footer justify-content-end">&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="https://github.com/creativetimofficial/argon-design-system/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    </div>
</footer>